<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="r.server">
			<section name="cryptoService" type="R.Common.Services.ProviderSection, R.Common"/>
			<section name="dataAccessService" type="R.Common.Services.ProviderSection, R.Common"/>
			<section name="managerService" type="R.Common.Services.ProviderSection, R.Common"/>
		</sectionGroup>
	</configSections>

	<r.server>
		<cryptoService defaultProvider="CryptoProvider">
			<providers>
				<add name="CryptoProvider" type="R.Common.Services.CryptoProvider, R.Common"/>
			</providers>
		</cryptoService>
		<dataAccessService defaultProvider="DataAccessProvider">
			<providers>
				<add name="DataAccessProvider" type="R.Common.Services.DataAccessProvider, R.Common"/>
			</providers>
		</dataAccessService>
		<managerService defaultProvider="ManagerProvider">
			<providers>
				<add name="ManagerProvider" type="R.Common.Services.ManagerProvider, R.Common"/>
			</providers>
		</managerService>
	</r.server>

	<appSettings>
		<add key="ConnectionString.Primary" value="Server=.;Database=RServer;Integrated Security=SSPI"/>
		<add key="ConnectionString.Support" value="Server=.;Database=RServerSupport;Integrated Security=SSPI"/>
	</appSettings>

	<connectionStrings>
	</connectionStrings>

	<system.web>
		<authentication mode="Forms"/>

		<membership defaultProvider="R.MembershipProvider">
			<providers>
				<add name="R.MembershipProvider" type="R.Web.Common.Providers.RMembershipProvider, R.Web.Common" requiresQuestionAndAnswer="true" enablePasswordReset="true"/>
			</providers>
		</membership>

		<profile defaultProvider="R.ProfileProvider">
			<providers>
				<add name="R.ProfileProvider" type="R.Web.Common.Providers.RProfileProvider, R.Web.Common"/>
			</providers>
		</profile>

		<roleManager enabled="true" defaultProvider="R.RoleProvider">
			<providers>
				<add name="R.RoleProvider" type="R.Web.Common.Providers.RRoleProvider, R.Web.Common"/>
			</providers>
		</roleManager>

	</system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
