<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="r.server">
			<section name="cryptoService"     type="R.Common.Services.ProviderSection, R.Common" />
			<section name="dataAccessService" type="R.Common.Services.ProviderSection, R.Common" />
			<section name="managerService"    type="R.Common.Services.ProviderSection, R.Common" />
		</sectionGroup>
	</configSections>

	<r.server>
		<cryptoService defaultProvider="CryptoProvider">
			<providers>
				<add name="CryptoProvider" type="R.Common.Services.CryptoProvider, R.Common" />
			</providers>
		</cryptoService>
		<dataAccessService defaultProvider="DataAccessProvider">
			<providers>
				<add name="DataAccessProvider" type="R.Common.Services.DataAccessProvider, R.Common" />
			</providers>
		</dataAccessService>
		<managerService defaultProvider="ManagerProvider">
			<providers>
				<add name="ManagerProvider" type="R.Common.Services.ManagerProvider, R.Common" />
			</providers>
		</managerService>
	</r.server>

	<appSettings>
		<add
			key="ConnectionString.Primary"
			value="Server=.;Database=RServer;Integrated Security=SSPI"  />
		<add
			key="ConnectionString.Support"
			value="Server=.;Database=RServerSupport;Integrated Security=SSPI"  />
	</appSettings>

	<connectionStrings>
	</connectionStrings>

	<system.web>
		<authentication mode="Forms" />

		<membership defaultProvider="R.MembershipProvider">
			<providers>
				<add
					name="R.MembershipProvider"
					type="R.Web.Common.Providers.RMembershipProvider, R.Web.Common"
					requiresQuestionAndAnswer="true" />
			</providers>
		</membership>

		<profile defaultProvider="R.ProfileProvider">
			<providers>
				<add
					name="R.ProfileProvider"
					type="R.Web.Common.Providers.RProfileProvider, R.Web.Common" />
			</providers>
		</profile>

		<roleManager enabled="true" defaultProvider="R.RoleProvider">
			<providers>
				<add
					name="R.RoleProvider"
					type="R.Web.Common.Providers.RRoleProvider, R.Web.Common" />
			</providers>
		</roleManager>

		<!--
			The <customErrors> section enables configuration 
			of what to do if/when an unhandled error occurs 
			during the execution of a request. Specifically, 
			it enables developers to configure html error pages 
			to be displayed in place of a error stack trace.

		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm" />
			<error statusCode="404" redirect="FileNotFound.htm" />
		</customErrors>
		-->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>
